@font-face {
    font-family: "Tiny5-Regular";
    src: url("Assets/Fonts/Tiny5-Regular.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

canvas {
    display : block;   
    margin : auto;
}

h1 {
    text-align: center;
}

